Django==1.7.1
Pillow==2.6.1
argparse==1.2.1
django-appconf==0.6
django-filter==0.9.0
django-geoposition==0.2.2
django-grappelli==2.6.3
django-tastypie==0.12.1
djangorestframework==3.0.0
geopy==1.4.0
python-dateutil==2.3
python-mimeparse==0.1.4
six==1.8.0
wsgiref==0.1.2
